---
import Layout from '../layouts/Layout.astro';

const title = 'Kanade的小窝-更新日志';
const description = 'Kanade 网站的更新记录';
---

<Layout title={title} description={description}>
  <h2>更新日志</h2>
</Layout>