---
import Layout from '../layouts/Layout.astro';

const title = 'Kanade的小窝';
const description = 'Kanade 的个人网站首页';
---

<Layout title={title} description={description}>
  <h2>欢迎来到 Kanade 的小窝</h2>
  <p>这里是我的个人网站，我会在这里分享我的项目、博客以及一些关于我的信息，也欢迎感兴趣的朋友们与我联系。</p>
  <p>我会持续优化更新我的网站，感谢大家的支持！</p>
</Layout>